## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [13]:
# A list containing average daily temperature over a week
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [14]:

# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [15]:
# Store the lowest temperature
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index =temperatures.index(min_temp)

In [18]:
# Swap the highest and the lowest temperatures
temperatures[max_temp_index], temperatures[min_temp_index] = temperatures[min_temp_index],temperatures [max_temp_index]

In [19]:
# Print the output list
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [21]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [24]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)

### Calculate the median price

In [28]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [35]:
# Check if the number of elements in the list is even or odd
lenth = len(sorted_prices)
if lenth % 2 == 0:
  print('even')
else:
  print('odd')

even

In [43]:
# Use the corresponding formula to calculate the median and print the median

a=lenth//2
b=(lenth//2)+1
median_price = ((sorted_prices[a-1])+(sorted_prices[b-1]))/2

In [50]:
# Check which is greater, mean or median
if mean_price>median_price:
  print('mean', mean_price)
else:
  print('median', median_price)

mean 1975.0

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [52]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [53]:
# Write your code below
new = tech_companies[-1]

In [55]:
# Do the same task another way
tech_companies=tech_companies[:-1]
print(tech_companies)

['Qualcomm', 'Google', 'Apple']

In [56]:
print(tech_companies)

['Qualcomm', 'Google', 'Apple']

In [57]:
tech_companies.extend(new)

In [58]:
print(tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']